In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("IUH - sample_01.csv")
df.head()

  datetime  sales_mobile  sales_fashion  sales_groceries  Unnamed: 4
0   5/1/20          31.0           18.0             13.0         NaN
1   5/2/20          65.0           42.0              9.0         NaN
2   5/3/20          90.0           29.0             19.0         NaN
3   5/4/20          31.0           48.0             18.0         NaN
4   5/5/20          72.0           22.0             19.0         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   datetime         31 non-null     object
 1   sales_mobile     31 non-null     float64
 2   sales_fashion    31 non-null     float64
 3   sales_groceries  31 non-null     float64
 4   Unnamed: 4       0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 2.6+ KB

In [ ]:
# thống kê biểu đồ cột cho doanh thu từng sản phẩm
df.sales_mobile.plot.hí